.hide-scrollbar  {
  overflow-y: hidden; 
  overflow-x: hidden;
}

.show-scrollbar  {
  overflow-y: auto; 
  overflow-x: auto;
}
.font-paytone {
  font-family: "Dela Gothic One", sans-serif;
}
.max-app-width {
  max-width: 1500px;
}
.z-nav {
  z-index: 100;
}

.z-modal {
  z-index: 50;
}


.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0,
    rgba(255, 255, 255, 1) 77%,
    rgba(186, 186, 186, 1) 100%
  );
}
